body {
  background-color: #f1f2f6;
}

.side-nav>ul {
  list-style: none;
}

.side-nav>ul>li>a {
  text-decoration: none;
  color: #aeaeae;
}

.side-nav>ul>li>a:hover {
  color: #434a54;
}

.navbar {
  margin-bottom: 0px;
}

.topic {
    background: url("../img/shattered.png");
    padding: 40px 0 0 0;
    margin: 0 0 20px 0;
}

.affix-top {
  width: 100%;
}

.affix {
  width: 100%;
  position: fixed;
  top: 10px;
}

.affix-bottom {
  width: 100%;
}
