body {
  background-color: #f1f2f6;
}

.side-nav>ul {
  list-style: none;
}

.side-nav>ul>li>a {
  text-decoration: none;
  color: #aeaeae;
}

.side-nav>ul>li>a:hover {
  color: #434a54;
}


.topic {
    background: url("../img/cloth_alike.png");
    padding: 20px 0;
    margin: 10px 0;
}
