body {
  background-color: #f1f2f6;
}

h2 {
  margin-top: 50px;
}

.side-nav>ul {
  list-style: none;
}

.side-nav>ul>li>a {
  text-decoration: none;
  color: #aeaeae;
}

.side-nav>ul>li>a:hover {
  color: #434a54;
}

.navbar {
  margin-bottom: 0px;
}

.topic {
    background: url("../img/shattered.png");
    padding: 40px 0 0 0;
    margin: 0 0 20px 0;
}

.affix-top {
  width: 100%;
}

.affix {
  width: 100%;
  position: fixed;
  top: 10px;
}

.affix-bottom {
  width: 100%;
}

.panorama {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.footer-logo, .footer-nav {
    width: 25%;
}

.footer {
  color: #e6e9ed;
}

.footer a {
  color: #aab2bd;
}

.footer a:hover {
  color: #e6e9ed;
}

pre {
  background: none;
  border: none;
}
